.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Blog ul li {
    display: inline-block;
    margin: 20px;
}

.Blog ul li a {
    text-decoration: none;
    color: black;
}

.Blog ul li a:hover,
.Blog ul li a:active,
.Blog ul li a.active {
    color: rgb(255, 94, 0);
    text-decoration: underline;
}
